/*Aquí va el css de la página con todos los modos de juego*/

p{
    font-family: Roboto, Arial;
    margin: 0; 
    font-weight: 500;
} 

body{
    background-color: #071325;
    margin: 0;
}

.titulos{
    height: 300px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.titulo-apartado{
    font-size: 60px;
    color: #9e946e;
}
.barra{
    display: block;
    color: #9e946e;
    background-color: #9e946e;
    width: 35%;
    height: 10px;
    border-radius: 4px;
    border-style: solid;
    border-color: #9e946e;
}

.game-modes{
    position: absolute;
    position: absolute;
    text-align: center;
}
.foto-modos{
    width: 90%;
    margin-bottom: 40px;

}

.texto-modos{
    align-items: center;
    text-align: center;
    font-size: 50px;
    color: white;
    

}